[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "elk"
description = "Keeping language models honest by directly eliciting knowledge encoded in their activations"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["nlp", "interpretability", "language-models", "explainable-ai"]
license = {text = "MIT License"}
dependencies = [
    "accelerate==0.16.0",
    "datasets==2.8.0",
    "einops==0.6.0",
    "numpy",
    "prettytable==3.6.0",
    "promptsource@git+https://github.com/NotodAI-Research/promptsource.git",
    "protobuf==3.20.*",
    "scikit-learn==1.2.0",
    "sentencepiece==0.1.97",
    "torch",
    "tqdm==4.64.1",
    "transformers==4.25.1",
]
version = "0.0.1"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "pytest",
]

[project.scripts]
elk = "elk.__main__:run"

[tool.setuptools]
packages = ["elk"]

[tool.pytest.ini_options]
markers = ["cpu: Marker for tests that do not depend on GPUs"]
