transformers==4.25.1
promptsource==0.2.3
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.0+cu113
torchvision==0.13.0+cu113
sentencepiece==0.1.97
protobuf==3.20.*
scikit-learn==1.2.0
umap-learn==0.5.3
matplotlib==3.6.3
tqdm==4.64.1